nav{
    display: flex;
    flex-direction: row;
}

.menu{
    margin: 5px;
    padding: 10px;
    color: white;

    width: 42vw;

    border-radius: 5px;

    box-shadow: 5px 5px 30px rgba(70, 70, 70, 0.637) /*rgba(80, 80, 80, 0.336)*/;
}

.math{
    background-color: #ffc107;
}

.fisica{
    background-color: #2e7d32;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 0 0 15px 0;
}

h2{
    border-bottom: solid 3px white;
    padding-bottom: 10px;
}

.link{
    color: white;
    text-decoration: none;
}